.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f3;
  border-radius: 1rem 1rem 0 0;
}
.header__logo {
  height: 6rem;
  margin-left: 4rem;
  display: block;
}
.searchbar {
  display: flex;
  border-radius: 10rem;
  background-color: white;
}
.search_btn {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  font-size: 2rem;
  display: flex;
  border: none;
  padding: 1.5rem 4rem;
  color: white;
  gap: 1.5rem;
}
.search_btn:hover {
  transform: scale(1.05);
}
.search_btn:active {
  transform: scale(1);
}
.search_logo {
  height: 2rem;
}
.search__field {
  border: none;
  padding: 1.5rem 4rem;
  width: 25rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  outline: none;
}

.utility {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.add_recipe,
.bookmarks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  height: 8rem;
  padding: 1rem 1rem;
  padding-right: 1.5rem;
}
.bookmarks{
  position: relative;
}
.add_recipe:hover,
.bookmarks:hover {
  background-color: rgb(241, 235, 235);
}
.add_recipe_logo {
  height: 4rem;
}

.bookmarks_logo {
  height: 4rem;
}

.bookmarks:hover .bookmark_list,
.bookmarks:active  .bookmark_list{
 display: block;
 
}
/* Bookmark list */
.bookmark_list{
  position: absolute;
  top: 101%;
  right: -15%;
  background-color: white;
  width: 40rem;
  z-index: 10;;
  border-radius: 15px;
  display: none;
  
}

.recipe_list {
  display: list-item;
  padding: 0;
  list-style: none;
  max-height: 110rem;
  overflow: auto;
}
.recipe {
  padding: 2rem 3rem;
  transition: 0.2s;
}
.recipe:hover {
  transform: translateY(-2px);
  background-color: rgb(241, 235, 235);
}
.recipe_link {
  text-decoration: none;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.recipe_img_wrap {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 50%;
}
.list_image {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  opacity: 0.6;
}
.list_recipe_wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list_title {
  max-width: 25rem;
  font-size: 1.45rem;
  color: #f48982;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 500;
}
.list_publisher {
  font-size: 1.15rem;
  text-transform: uppercase;
  color: rgb(107, 105, 105);
  letter-spacing: 1px;
  font-weight: 400;
}