html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-repeat: no-repeat;
  color: rgb(107, 105, 105);
}

.wrap {
  max-width: 130rem;
  background-color: white;
  margin: 4rem auto;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10rem minmax(80rem, auto);
  grid-template-areas: "header header" "list detail";
  position: relative;
}
/* http://forkify-api.herokuapp.com/images/best_pizza_dough_recipe1b20.jpg */
